# Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests

from selenium.webdriver.common.by import By
import re

In [2]:
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [3]:
Rank=[]
Name=[]
Artist=[]
upload_date=[]
views=[]

In [4]:
rk=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr')
for i in rk:
    if i.text is None:
        Rank.append("--")
    else:
            Rank.append(i.text)

In [5]:
len(Rank)

30

In [7]:
nm=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')          
for i in nm:
    if i.text is None:
        Name.append("--")
    else:
            Name.append(i.text)

In [8]:
len(Name)

30

In [10]:
Ar=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')          
for i in Ar:
    if i.text is None:
        Artist.append("--")
    else:
            Artist.append(i.text)

In [11]:
len(Artist)

30

In [13]:
Vw=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')          
for i in Vw:
    if i.text is None:
        views.append("--")
    else:
            views.append(i.text)

In [14]:
len(views)

30

In [16]:
ud=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')          
for i in ud:
    if i.text is None:
        upload_date.append("--")
    else:
            upload_date.append(i.text)

In [17]:
len(upload_date)

30

In [19]:
df=pd.DataFrame({'Rank':Rank, 'video Name': Name, 'Artist': Artist, 'views in billion': views, 'upload_date': upload_date})

In [20]:
df

,Rank,video Name,Artist,views in billion,upload_date
0,"""Baby Shark Dance""[7] Pinkfong Baby Shark - Ki...","""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.22,"June 17, 2016"
1,"""Despacito""[10] Luis Fonsi 8.40 January 12, 20...","""Despacito""[10]",Luis Fonsi,8.40,"January 12, 2017"
2,"""Johny Johny Yes Papa""[18] LooLoo Kids - Nurse...","""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.88,"October 8, 2016"
3,"""Bath Song""[19] Cocomelon - Nursery Rhymes 6.6...","""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.65,"May 2, 2018"
4,"""Shape of You""[20] Ed Sheeran 6.22 January 30,...","""Shape of You""[20]",Ed Sheeran,6.22,"January 30, 2017"
5,"""See You Again""[23] Wiz Khalifa 6.20 April 6, ...","""See You Again""[23]",Wiz Khalifa,6.20,"April 6, 2015"
6,"""Wheels on the Bus""[28] Cocomelon - Nursery Rh...","""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,5.95,"May 24, 2018"
7,"""Phonics Song with Two Words""[29] ChuChu TV Nu...","""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.73,"March 6, 2014"
8,"""Uptown Funk""[30] Mark Ronson 5.17 November 19...","""Uptown Funk""[30]",Mark Ronson,5.17,"November 19, 2014"
9,"""Gangnam Style""[31] Psy 5.09 July 15, 2012 [E]","""Gangnam Style""[31]",Psy,5.09,"July 15, 2012"
10,"""Learning Colors – Colorful Eggs on a Farm""[36...","""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.08,"February 27, 2018"
11,"""Masha and the Bear – Recipe for Disaster""[37]...","""Masha and the Bear – Recipe for Disaster""[37]",Get Movies,4.58,"January 31, 2012"
12,"""Dame Tu Cosita""[38] Ultra Records 4.57 April ...","""Dame Tu Cosita""[38]",Ultra Records,4.57,"April 5, 2018"
13,"""Axel F""[39] Crazy Frog 4.40 June 16, 2009","""Axel F""[39]",Crazy Frog,4.40,"June 16, 2009"
14,"""Sugar""[40] Maroon 5 4.02 January 14, 2015","""Sugar""[40]",Maroon 5,4.02,"January 14, 2015"
15,"""Baa Baa Black Sheep""[41] Cocomelon - Nursery ...","""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.99,"June 25, 2018"
16,"""Counting Stars""[42] OneRepublic 3.99 May 31, ...","""Counting Stars""[42]",OneRepublic,3.99,"May 31, 2013"
17,"""Roar""[43] Katy Perry 3.97 September 5, 2013","""Roar""[43]",Katy Perry,3.97,"September 5, 2013"
18,"""Lakdi Ki Kathi""[44] Jingle Toons 3.95 June 14...","""Lakdi Ki Kathi""[44]",Jingle Toons,3.95,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[45] Shakira...","""Waka Waka (This Time for Africa)""[45]",Shakira,3.88,"June 4, 2010"
20,"""Sorry""[46] Justin Bieber 3.78 October 22, 2015","""Sorry""[46]",Justin Bieber,3.78,"October 22, 2015"
21,"""Humpty the train on a fruits ride""[47] Kiddie...","""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.75,"January 26, 2018"
22,"""Thinking Out Loud""[48] Ed Sheeran 3.74 Octobe...","""Thinking Out Loud""[48]",Ed Sheeran,3.74,"October 7, 2014"
23,"""Shree Hanuman Chalisa""[49] T-Series Bhakti Sa...","""Shree Hanuman Chalisa""[49]",T-Series Bhakti Sagar,3.74,"May 10, 2011"
24,"""Perfect""[50] Ed Sheeran 3.69 November 9, 2017","""Perfect""[50]",Ed Sheeran,3.69,"November 9, 2017"
25,"""Dark Horse""[51] Katy Perry 3.69 February 20, ...","""Dark Horse""[51]",Katy Perry,3.69,"February 20, 2014"
26,"""Let Her Go""[52] Passenger 3.63 July 25, 2012","""Let Her Go""[52]",Passenger,3.63,"July 25, 2012"
27,"""Faded""[53] Alan Walker 3.60 December 3, 2015","""Faded""[53]",Alan Walker,3.60,"December 3, 2015"
28,"""Girls Like You""[54] Maroon 5 3.57 May 31, 2018","""Girls Like You""[54]",Maroon 5,3.57,"May 31, 2018"
29,"""Lean On""[55] Major Lazer Official 3.56 March ...","""Lean On""[55]",Major Lazer Official,3.56,"March 22, 2015"

# . Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")

In [4]:
search=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
search.click()

In [5]:
Series=[]
Place=[]
Date=[]
time=[]

In [7]:
ser=driver.find_elements(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope t20-tag"]')
for i in ser:
    if i.text is None:
        Series.append("--")
    else:
            Series.append(i.text)

In [9]:
len(Series)

9

In [10]:
Series

['1st T20I',
 '2nd T20I',
 '3rd T20I',
 '4th T20I',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '4th T20I',
 '5th T20I']

In [11]:
Pl=driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')
for i in Pl:
    if i.text is None:
        Place.append("--")
    else:
            Place.append(i.text)

In [12]:
Place

['Nassau County International Cricket Stadium,',
 'Nassau County International Cricket Stadium,',
 'Nassau County International Cricket Stadium,',
 'Central Broward Park & Broward County Stadium, Lauderhill,',
 'Harare Sports Club,',
 'Harare Sports Club,',
 'Harare Sports Club,',
 'Harare Sports Club,',
 'Harare Sports Club,']

In [13]:
Dt=driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for i in Dt:
    if i.text is None:
        Date.append("--")
    else:
            Date.append(i.text)

In [14]:
Date

['5 JUNE, 2024',
 '9 JUNE, 2024',
 '12 JUNE, 2024',
 '15 JUNE, 2024',
 '6 JULY, 2024',
 '7 JULY, 2024',
 '10 JULY, 2024',
 '13 JULY, 2024',
 '14 JULY, 2024']

In [15]:
Tm=driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
for i in Tm:
    if i.text is None:
        time.append("--")
    else:
            time.append(i.text)

In [16]:
time

['8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST']

In [19]:
df=pd.DataFrame({'Series':Series, 'Place of the match': Place, 'Date': Date, 'Time': time })

In [20]:
df

,Series,Place of the match,Date,Time
0,1st T20I,"Nassau County International Cricket Stadium,","5 JUNE, 2024",8:00 PM IST
1,2nd T20I,"Nassau County International Cricket Stadium,","9 JUNE, 2024",8:00 PM IST
2,3rd T20I,"Nassau County International Cricket Stadium,","12 JUNE, 2024",8:00 PM IST
3,4th T20I,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
4,1st T20I,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
5,2nd T20I,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST
6,3rd T20I,"Harare Sports Club,","10 JULY, 2024",8:00 PM IST
7,4th T20I,"Harare Sports Club,","13 JULY, 2024",8:00 PM IST
8,5th T20I,"Harare Sports Club,","14 JULY, 2024",8:00 PM IST

# Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details:
A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code

In [125]:
driver=webdriver.Chrome()
driver.get("https://www.statisticstimes.com/")

In [126]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [127]:
ind = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
ind.click()

In [129]:
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [148]:
Rank = []
State =[]
GSDP_previous = [] 
GSDP_current = []
Share_previousGDP = []
GDP_dollarbillion = []

In [149]:
rk=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[1]')
for i in rk:
    if i.text is None:
        Rank.append("--")
    else:
            Rank.append(i.text)

In [150]:
len(Rank)

34

In [151]:
st=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[2]')
for i in st:
    if i.text is None:
        State.append("--")
    else:
            State.append(i.text)

In [152]:
len(State)

34

In [153]:
pre_GSDP=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[4]')
for i in pre_GSDP:
    if i.text is None:
        GSDP_previous.append("--")
    else:
            GSDP_previous.append(i.text)

In [154]:
len(GSDP_previous)

34

In [155]:
cur_GSDP=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[3]')
for i in cur_GSDP:
    if i.text is None:
        GSDP_current.append("--")
    else:
            GSDP_current.append(i.text)

In [156]:
len(GSDP_current)

34

In [157]:
shr_GSDP=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[5]')
for i in shr_GSDP:
    if i.text is None:
        Share_previousGDP.append("--")
    else:
            Share_previousGDP.append(i.text)

In [158]:
len(Share_previousGDP)

34

In [159]:
GDP=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[6]')
for i in GDP:
    if i.text is None:
        GDP_dollarbillion.append("--")
    else:
            GDP_dollarbillion.append(i.text)

In [160]:
len(GDP_dollarbillion)

34

In [161]:
df=pd.DataFrame({'Rank':Rank, 'State': State, 'GSDP_previous': GSDP_previous, 'GSDP_current': GSDP_current, 'Share_previousGDP': Share_previousGDP, 'GDP_dollarbillion' : GDP_dollarbillion})

In [162]:
df

,Rank,State,GSDP_previous,GSDP_current,Share_previousGDP,GDP_dollarbillion
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,3,Uttar Pradesh,"1,974,532","2,257,575",8.37%,263.605
2,5,Gujarat,"1,937,066",-,8.21%,258.603
3,7,Rajasthan,"1,218,193","1,413,620",5.16%,162.632
4,9,Andhra Pradesh,"1,133,837","1,317,728",4.80%,151.370
5,11,Kerala,"932,470",-,3.95%,124.487
6,13,Haryana,"870,665","994,154",3.69%,116.236
7,15,Bihar,"650,302","751,396",2.76%,86.817
8,17,Assam,"412,612","493,167",1.75%,55.085
9,19,Jharkhand,"358,863","393,722",1.52%,47.909
10,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.689
11,23,Goa,"82,604",-,0.35%,11.028
12,25,Chandigarh,"45,635",-,0.19%,6.092
13,27,Meghalaya,"38,785","42,697",0.16%,5.178
14,29,Manipur,"36,594",-,0.16%,4.885
15,31,Nagaland,"31,913",-,0.14%,4.260
16,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385
17,1,Maharashtra,"2,690,525",-,13.03%,-
18,3,Karnataka,"1,782,121","2,036,748",8.63%,"1,190,851"
19,5,Gujarat,"1,700,504",-,8.23%,-
20,7,Rajasthan,"1,084,845","1,259,527",5.25%,"694,771"
21,9,Telangana,"1,024,205","1,187,082",4.96%,"642,207"
22,11,Kerala,"822,970",-,3.98%,-
23,13,Haryana,"779,197","885,308",3.77%,"542,972"
24,15,Odisha,"587,900","691,888",2.85%,"403,222"
25,17,Assam,"363,161","427,147",1.76%,"251,688"
26,19,Jharkhand,"325,830","360,689",1.58%,"235,685"
27,21,Jammu & Kashmir-UT,"162,644","185,489",0.79%,"105,636"
28,23,Goa,"73,973",-,0.36%,-
29,25,Chandigarh,"40,573",-,0.20%,-
30,27,Meghalaya,"34,441","37,925",0.17%,"21,905"
31,29,Arunachal Pradesh,"31,669",-,0.15%,-
32,31,Nagaland,"27,859",-,0.13%,-
33,33,Andaman & Nicobar Islands,"9,209",-,0.04%,-

# Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [43]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import requests

from selenium.webdriver.common.by import By
import re
from selenium.common.exceptions import TimeoutException

In [44]:
driver=webdriver.Chrome()
driver.get("https:/www.billboard.com/")

In [46]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [47]:
hot100pages=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
hot100pages.click()

In [84]:
Song_name=[] 
Artist_name=[] 
Last_weekrank=[] 
Peak_rank =[]
Weeks_onboard=[]

In [85]:
song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in song:
    if i.text is None:
        Song_name.append("--")
    else:
            Song_name.append(i.text)

In [86]:
len(Song_name)

100

In [87]:
Art=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in Art:
    if i.text is None:
        Artist_name.append("--")
    else:
            Artist_name.append(i.text)

In [88]:
len(Artist_name)

100

In [89]:
Lastwk=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
for i in Lastwk:
    if i.text is None:
        Last_weekrank.append("--")
    else:
            Last_weekrank.append(i.text)

In [90]:
len(Last_weekrank)

100

In [91]:
peakwk=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
for i in peakwk:
    if i.text is None:
        Peak_rank.append("--")
    else:
            Peak_rank.append(i.text)

In [92]:
len(Peak_rank)

100

In [93]:
Wk=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
for i in Wk:
    if i.text is None:
        Weeks_onboard.append("--")
    else:
            Weeks_onboard.append(i.text)

In [94]:
len(Weeks_onboard)

100

In [95]:
df=pd.DataFrame({'Song_name':Song_name, 'Artist_name': Artist_name, 'Last_weekrank': Last_weekrank, 'Peak_rank': Peak_rank, 'Weeks_onboard': Weeks_onboard})

In [96]:
df

,Song_name,Artist_name,Last_weekrank,Peak_rank,Weeks_onboard
0,Like That,"Future, Metro Boomin & Kendrick Lamar",-,1,1
1,Type Shit,"Future, Metro Boomin, Travis Scott & Playboi C...",-,2,1
2,Beautiful Things,Benson Boone,2,2,10
3,Lose Control,Teddy Swims,1,1,33
4,Too Sweet,Hozier,-,5,1
...,...,...,...,...,...
95,La Victima,Xavi,77,46,15
96,Tucson Too Late,Jordan Davis,81,81,4
97,Empire Now,Hozier,-,98,1
98,Girl I've Always Been,Olivia Rodrigo,-,99,1
99,Outskirts,Sam Hunt,92,92,3

# Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [4]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import requests

from selenium.webdriver.common.by import By
import re
from selenium.common.exceptions import TimeoutException

In [5]:
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [6]:
Book_name=[]
Author_name=[] 
Volumes_sold=[]
Publisher=[]
Genre=[]

In [8]:
Bk_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in Bk_name:
    if i.text is None:
        Book_name.append("--
    else:
            Book_name.append(i.text)

In [9]:
len(Book_name)

100

In [10]:
At_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in At_name:
    if i.text is None:
        Author_name.append("--")
    else:
            Author_name.append(i.text)

In [11]:
len(Author_name)

100

In [12]:
Vol_sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in Vol_sold:
    if i.text is None:
        Volumes_sold.append("--")
    else:
            Volumes_sold.append(i.text)

In [13]:
len(Volumes_sold)

100

In [14]:
Pub=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in Pub:
    if i.text is None:
        Publisher.append("--")
    else:
            Publisher.append(i.text)

In [15]:
len(Publisher)

100

In [17]:
Gen=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in Gen:
    if i.text is None:
        Genre.append("--")
    else:
            Genre.append(i.text)

In [18]:
len(Genre)

100

In [19]:
df=pd.DataFrame({'Book_name':Book_name, 'Author_name': Author_name, 'Volumes_sold': Volumes_sold, 'Publisher': Publisher, 'Genre': Genre})

In [20]:
df

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# . Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ 
You have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [238]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import requests

from selenium.webdriver.common.by import By
import re
from selenium.common.exceptions import TimeoutException

In [239]:
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

In [240]:
datasets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
datasets.click()

In [242]:
expand=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand.click()

In [243]:
Dataset_name=[]
Data_type=[] 
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attributes=[]
year=[]

In [244]:
Dataset=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in Dataset:
    if i.text is None:
        Dataset_name.append("--")
    else:
            Dataset_name.append(i.text)

In [245]:
len(Dataset_name)

10

In [246]:
Datatype=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[2]/span')
for i in Datatype:
    if i.text is None:
        Data_type.append("--")
    else:
            Data_type.append(i.text)

In [247]:
len(Data_type)

10

In [248]:
Ts=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
for i in Ts:
    if i.text is None:
        Task.append("--")
    else:
            Task.append(i.text)

In [249]:
len(Task)

10

In [250]:
Atty=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]')
for i in Atty:
    if i.text is None:
        Attribute_type.append("--")
    else:
            Attribute_type.append(i.text)

In [251]:
len(Attribute_type)

10

In [252]:
Inst=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
for i in Inst:
    if i.text is None:
        No_of_instances.append("--")
    else:
            No_of_instances.append(i.text)

In [253]:
len(No_of_instances)

10

In [254]:
attributes=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
for i in attributes:
    if i.text is None:
        No_of_attributes.append("--")
    else:
            No_of_attributes.append(i.text)

In [255]:
len(No_of_attributes)

10

In [256]:
Yr=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
for i in Yr:
    if i.text is None:
        year.append("--")
    else:
            year.append(i.text)

In [257]:
len(year)

10

In [258]:
print(len(Dataset_name), len(Data_type), len(Task), len(Attribute_type), len(No_of_instances),len(No_of_attributes), len(year))

10 10 10 10 10 10 10

In [259]:
df=pd.DataFrame({'Dataset_name':Dataset_name, 'Data_type': Data_type, 'Task': Task, 'Attribute_type': Attribute_type, 'No_of_instances': No_of_instances, 'No_of_attributes':No_of_attributes, 'year': year})

In [260]:
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A

# Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [5]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import requests

from selenium.webdriver.common.by import By
import re
from selenium.common.exceptions import TimeoutException

In [6]:
driver=webdriver.Chrome()
driver.get("https://github.com/")

In [9]:
explore=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div/div/div/aside/div[2]/div/a')
explore.click()

In [10]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/main/div[1]/nav/div/a[3]')
trending.click()

In [11]:
Repository_title=[] 
Repository_desc=[] 
Contributors_count=[] 
Language_used=[]

In [13]:
Re=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in Re:
    if i.text is None:
        Repository_title.append("--")
    else:
            Repository_title.append(i.text)

In [14]:
len(Repository_title)

25

In [15]:
Rep_desc=driver.find_elements(By.XPATH, '//h2[@class="h3 lh-condensed"]/a/span')
for i in Rep_desc:
    if i.text is None:
        Repository_desc.append("--")
    else:
            Repository_desc.append(i.text)

In [16]:
len(Repository_desc)

25

In [17]:
Contri=driver.find_elements(By.XPATH, '//a[2][@class="Link Link--muted d-inline-block mr-3"]')
for i in Contri:
    if i.text is None:
        Contributors_count.append("--")
    else:
            Contributors_count.append(i.text)

In [18]:
len(Contributors_count)

25

In [19]:
Lang=driver.find_elements(By.XPATH, '//div[@class="f6 color-fg-muted mt-2"]/span[1]')
for i in Lang:
    if i.text is None:
        Langauge_used.append("--")
    else:
            Language_used.append(i.text)

In [20]:
len(Language_used)

25

In [22]:
df=pd.DataFrame({'Repository_title':Repository_title, 'Respository_desc': Repository_desc, 'Contributors_count': Contributors_count, 'Language_used': Language_used})

In [23]:
df

,Repository_title,Respository_desc,Contributors_count,Language_used
0,plandex-ai / plandex,plandex-ai /,248,Go
1,HardhatChad / ore-cli,HardhatChad /,261,Rust
2,PKUFlyingPig / cs-self-learning,PKUFlyingPig /,"5,858",HTML
3,HardhatChad / ore,HardhatChad /,87,Rust
4,AstroNvim / AstroNvim,AstroNvim /,870,Lua
5,freeCodeCamp / freeCodeCamp,freeCodeCamp /,"35,114",TypeScript
6,EbookFoundation / free-programming-books,EbookFoundation /,"59,618",Built by
7,public-apis / public-apis,public-apis /,"31,545",Python
8,aurora-develop / aurora,aurora-develop /,356,Go
9,myshell-ai / JetMoE,myshell-ai /,28,Python
10,ixartz / SaaS-Boilerplate,ixartz /,166,TypeScript
11,dockur / windows,dockur /,820,Shell
12,kamranahmedse / developer-roadmap,kamranahmedse /,"36,700",TypeScript
13,searxng / searxng,searxng /,934,Python
14,cloudflare / orange,cloudflare /,30,TypeScript
15,availproject / avail-light,availproject /,844,Rust
16,neovim / neovim,neovim /,"5,228",Vim Script
17,availproject / avail,availproject /,394,Rust
18,ossu / computer-science,ossu /,"20,297",Built by
19,FoundationVision / VAR,FoundationVision /,41,Python
20,pagefaultgames / pokerogue,pagefaultgames /,26,TypeScript
21,donnemartin / system-design-primer,donnemartin /,"43,003",Python
22,refinedev / refine,refinedev /,"1,741",TypeScript
23,jrouwe / JoltPhysics,jrouwe /,318,C++
24,logspace-ai / langflow,logspace-ai /,"2,381",JavaScript