In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\divya rekha\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\divya rekha\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\divya rekha\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
from selenium.webdriver.common.by import By

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get ("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [23]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [24]:
title_tags=driver.find_elements(By.XPATH, '//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')       
for i in title_tags:
    title=i.text
    job_title.append(title)

In [25]:
job_title

['Senior Data Scientist, Reporting',
 'Data Scientist, Marketing',
 'HCL Hiring||Senior Data Scientist Role||Location Bangalore & Pune',
 'Data Scientist',
 'Data Scientist',
 'AI Data Scientist',
 'GenAI Data Scientist',
 'Data Scientist HTHD',
 'Data Scientist-Senior Associate - P&T Labs',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist AI / ML - Senior Associate',
 'Xoriant is hiring Senior Generative AI Engineer !',
 'DS - NLP Expert',
 'Generative AI Data Scientist',
 'Data Scientist-Senior Associate-P&T Labs',
 'Data Scientist',
 'Data Science',
 'Experienced Data Scientist']

In [29]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [30]:
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore Rural, Karnataka, Pune, Maharashtra',
 'Hybrid - Bangalore Rural, Karnataka, Mumbai (All Areas)',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Mumbai, Hyderabad, Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Hybrid - Bengaluru, Karnataka',
 'Bengaluru',
 'Hybrid - Bangalore Rural, Karnataka, Pune, Maharashtra, Mumbai (All Areas)',
 'Bangalore/ Bengaluru, Karnataka, Hyderabad, Telangana, Gurugram, Haryana',
 'Hyderabad, Gurugram, Bengaluru',
 'Hyderabad, Bengaluru',
 'Remote',
 'Hybrid - Bangalore Rural, Karnataka, Chennai, Delhi / NCR',
 'Bengaluru']

In [31]:
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [32]:
company_name

['Coursera',
 'Coursera',
 'HCLTech',
 'Birlasoft',
 'Ford',
 'Ford',
 'Ford',
 'Ford',
 'PwC Service Delivery Center',
 'Applied Materials',
 'Applied Materials',
 'Oracle',
 'PwC Service Delivery Center',
 'Xoriant',
 'Genpact',
 'Genpact',
 'PwC Service Delivery Center',
 'Brace Infotech',
 'Sopra Steria',
 'Volvo Financial Services']

In [33]:
experience_tags=driver.find_elements(By.XPATH, '//span[@class="expwdth"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [34]:
experience_required

['6-7 Yrs',
 '4-6 Yrs',
 '10-20 Yrs',
 '8-12 Yrs',
 '3-6 Yrs',
 '2-6 Yrs',
 '5-6 Yrs',
 '1-4 Yrs',
 '4-6 Yrs',
 '4-7 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '6-11 Yrs',
 '8-13 Yrs',
 '4-6 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '3-8 Yrs']

In [35]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [36]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[:10], 'Location': job_location[:10], 'Company_name': company_name[:10], 'Experience': experience_required[:10]})

In [37]:
df

,Title,Location,Company_name,Experience
0,"Senior Data Scientist, Reporting","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Coursera,6-7 Yrs
1,"Data Scientist, Marketing","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Coursera,4-6 Yrs
2,HCL Hiring||Senior Data Scientist Role||Locati...,"Hybrid - Bangalore Rural, Karnataka, Pune, Mah...",HCLTech,10-20 Yrs
3,Data Scientist,"Hybrid - Bangalore Rural, Karnataka, Mumbai (A...",Birlasoft,8-12 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,3-6 Yrs
5,AI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,2-6 Yrs
6,GenAI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,5-6 Yrs
7,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs
8,Data Scientist-Senior Associate - P&T Labs,"Mumbai, Hyderabad, Bengaluru",PwC Service Delivery Center,4-6 Yrs
9,Data Scientist,Bengaluru,Applied Materials,4-7 Yrs