In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\divya rekha\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\divya rekha\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\divya rekha\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
from selenium.webdriver.common.by import By

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get ("https://www.shine.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Analyst')

In [11]:
location=driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [13]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [14]:
job_title=[][:10]
job_location=[][:10]
company_name=[][:10]
experience_required=[][:10]

In [15]:
title_tags=driver.find_elements(By.XPATH, '//h2[@itemprop="name"]/a') 
for i in title_tags:
    title=i.text
    job_title.append(title)

In [16]:
job_title[:10]

['Data Analyst',
 'Clinical Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst',
 'Clinical Data Analyst',
 'Lead Data Analyst',
 'Data Analyst',
 'Technical Data Architect',
 'Oracle Utilities (customer care & Billing) CC&B Busines ...',
 'Clinical Data Associate']

In [17]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [23]:
job_location[:10]

['Bangalore\n+9',
 'Bangalore\n+6',
 'Bangalore\n+9',
 'Bangalore\n+12',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore\n+3',
 'Bangalore',
 'Bangalore\n+2',
 'Bangalore\n+6']

In [24]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [25]:
company_name[:10]

['sahast sales corporation',
 'techno endura',
 'sahast sales corporation',
 'radhika enterprises',
 'techno endura',
 'ara resources private limited',
 'diraa hr services hiring for mncs',
 'uprighthc solutions private limited',
 'ltimindtree limited',
 'techno endura']

In [26]:
experience_tags=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [27]:
experience_required[:10]

['12 to 22 Yrs',
 '0 to 1 Yr',
 '12 to 22 Yrs',
 '0 to 4 Yrs',
 '0 to 1 Yr',
 '4 to 9 Yrs',
 '0 to 1 Yr',
 '10 to 20 Yrs',
 '5 to 9 Yrs',
 '0 to 1 Yr']

print(len(job_title[:10]),len(job_location[:10]),len(company_name[:10]),len(experience_required[:10]))

In [29]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[:10], 'Location': job_location[:10], 'Company_name': company_name[:10], 'Experience': experience_required[:10]})

In [30]:
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
1,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
2,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
3,Hiring For Data Analyst,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
4,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
5,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
6,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
7,Technical Data Architect,Bangalore,uprighthc solutions private limited,10 to 20 Yrs
8,Oracle Utilities (customer care & Billing) CC&...,Bangalore\n+2,ltimindtree limited,5 to 9 Yrs
9,Clinical Data Associate,Bangalore\n+6,techno endura,0 to 1 Yr