In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\divya rekha\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\divya rekha\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\divya rekha\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\divya rekha\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\divya rekha\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
from selenium.webdriver.common.by import By

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get ("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [20]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [21]:
title_tags=driver.find_elements(By.XPATH, '//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')       
for i in title_tags:
    title=i.text
    job_title.append(title)

In [22]:
job_title

['Senior Data Scientist, Reporting',
 'Data Scientist, Marketing',
 'Data Scientist',
 'Data Scientist',
 'AI Data Scientist',
 'GenAI Data Scientist',
 'Data Scientist HTHD',
 'HCL Hiring||Senior Data Scientist Role||Location Bangalore & Pune',
 'Data Scientist-Senior Associate - P&T Labs',
 'Data Scientist',
 'Data Scientist I/II',
 'Xoriant is hiring Senior Generative AI Engineer !',
 'DS - NLP Expert',
 'Generative AI Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Experienced Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist']

In [23]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [24]:
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore Rural, Karnataka, Mumbai (All Areas)',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Hybrid - Bangalore Rural, Karnataka, Pune, Maharashtra',
 'Mumbai, Hyderabad, Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Hybrid - Bangalore Rural, Karnataka, Pune, Maharashtra, Mumbai (All Areas)',
 'Bangalore/ Bengaluru, Karnataka, Hyderabad, Telangana, Gurugram, Haryana',
 'Hyderabad, Gurugram, Bengaluru',
 'Bengaluru',
 'Hybrid - Bengaluru, Karnataka',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [25]:
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [26]:
company_name

['Coursera',
 'Coursera',
 'Birlasoft',
 'Ford',
 'Ford',
 'Ford',
 'Ford',
 'HCLTech',
 'PwC Service Delivery Center',
 'Applied Materials',
 'Philips',
 'Xoriant',
 'Genpact',
 'Genpact',
 'Applied Materials',
 'Oracle',
 'Volvo Financial Services',
 'Volvo Financial Services',
 'Siemens',
 'Honeywell']

In [27]:
experience_tags=driver.find_elements(By.XPATH, '//span[@class="expwdth"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [28]:
experience_required

['6-7 Yrs',
 '4-6 Yrs',
 '8-12 Yrs',
 '3-6 Yrs',
 '2-6 Yrs',
 '5-6 Yrs',
 '1-4 Yrs',
 '10-20 Yrs',
 '4-6 Yrs',
 '4-7 Yrs',
 '4-6 Yrs',
 '5-10 Yrs',
 '6-11 Yrs',
 '8-13 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '7-9 Yrs']

In [29]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [30]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[:10], 'Location': job_location[:10], 'Company_name': company_name[:10], 'Experience': experience_required[:10]})

In [31]:
df

,Title,Location,Company_name,Experience
0,"Senior Data Scientist, Reporting","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Coursera,6-7 Yrs
1,"Data Scientist, Marketing","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Coursera,4-6 Yrs
2,Data Scientist,"Hybrid - Bangalore Rural, Karnataka, Mumbai (A...",Birlasoft,8-12 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,3-6 Yrs
4,AI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,2-6 Yrs
5,GenAI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,5-6 Yrs
6,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs
7,HCL Hiring||Senior Data Scientist Role||Locati...,"Hybrid - Bangalore Rural, Karnataka, Pune, Mah...",HCLTech,10-20 Yrs
8,Data Scientist-Senior Associate - P&T Labs,"Mumbai, Hyderabad, Bengaluru",PwC Service Delivery Center,4-6 Yrs
9,Data Scientist,Bengaluru,Applied Materials,4-7 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the 
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [32]:
driver.get ("https://www.shine.com/")

In [34]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [35]:
location=driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [36]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [37]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [38]:
title_tags=driver.find_elements(By.XPATH, '//h2[@itemprop="name"]/a') 
for i in title_tags:
    title=i.text
    job_title.append(title)

In [39]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [40]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [41]:
experience_tags=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [42]:
print(len(job_title[:10]),len(job_location[:10]),len(company_name[:10]),len(experience_required[:10]))

10 10 10 10

In [43]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[:10], 'Location': job_location[:10], 'Company_name': company_name[:10], 'Experience': experience_required[:10]})

In [44]:
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
1,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
2,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
3,Hiring For Data Analyst,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
4,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
5,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
6,Hiring For Business Analyst,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
7,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
8,Data Executive karnataka,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr
9,Hiring For Data Scientist,Bangalore\n+13,divya staffing solution,0 to 4 Yrs

# Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link

In [45]:
driver.get ("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [46]:
R_Rating=[]
Review_summary=[]
Full_review=[]

In [47]:
R_Rating_tags=driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in R_Rating_tags:
    Rating=i.text
    R_Rating.append(Rating)

In [48]:
Review_summary_tags=driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in Review_summary_tags:
    Review=i.text
    Review_summary.append(Review)

In [49]:
Full_review_tags=driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in Full_review_tags:
    full=i.text
    Full_review.append(full)

In [50]:
print(len(R_Rating[:100])),print(len(Review_summary[:100])),print(len(Full_review[:100]))

10
10
10

(None, None, None)

In [51]:
import pandas as pd
df=pd.DataFrame({'R_Rating':R_Rating[:100], 'Review_summary': Review_summary[:100], 'Full_review': Full_review[:100]})

In [52]:
df

,R_Rating,Review_summary,Full_review
0,5,Worth every penny,Feeling awesome after getting the delivery of ...
1,5,Best in the market!,Good Camera
2,5,Terrific purchase,Value for money 😍
3,5,Brilliant,very good camera quality
4,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
5,5,Terrific,Very very good
6,5,Fabulous!,Super🔥 and good performance 👌❤️
7,5,Wonderful,This is amazing at all
8,5,Perfect product!,Photos super
9,5,Must buy!,It’s really awesome

# Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search
field

In [53]:
driver.get ("https://www.flipkart.com/")

In [54]:
search_s=driver.find_element(By.XPATH, '//input[@type="text"]')
search_s.send_keys('sneakers')

In [55]:
search_btn=driver.find_element(By.CLASS_NAME,"_2iLD__")      
search_btn.click()

In [56]:
Brand_name=[]
Product_price=[]
Product_desc=[]

In [69]:
Brand_name_tags=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in Brand_name_tags:
    Brand=i.text
    Brand_name.append(Brand)

In [70]:
Product_price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Product_price_tags:
    price=i.text
    Product_price.append(price)

In [71]:
Product_desc_tags=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in Product_desc_tags:
    Product=i.text
    Product_desc.append(Product)

In [72]:
print(len(Brand_name)),print(len(Product_price)),print(len(Product_desc))

80
80
185

(None, None, None)

In [74]:
import pandas as pd
df=pd.DataFrame({'Brand':Brand_name[:100], 'Product': Product_price[:100], 'Product': Product_desc[:100]})

ValueError: All arrays must be of the same length

# Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [76]:
driver.get ("https://www.azquotes.com/")

In [77]:
search_btn=driver.find_element(By.XPATH, '//a[@href="/top_quotes.html"]')
search_btn.click()

In [78]:
Q_quote = []
A_author = []
T_Quotes = []

In [79]:
Q_quote_tags=driver.find_elements(By.XPATH, '//a[@class="title"]')
for i in Q_quote_tags:
    Quote=i.text
    Q_quote.append(Quote)

In [80]:
A_author_tags=driver.find_elements(By.XPATH, '//div[@class="author"]/a')
for i in A_author_tags:
    Author=i.text
    A_author.append(Author)

In [81]:
T_Quotes_tags=driver.find_elements(By.XPATH, '//div[@class="tags"]')
for i in T_Quotes_tags:
    Quotes =i.text
    T_Quotes.append(Quotes)

In [83]:
print(len(Q_quote)),print(len(A_author)),print(len(T_Quotes))

100
100
100

(None, None, None)

In [84]:
import pandas as pd
df=pd.DataFrame({'Q_quote':Q_quote[:1000], 'A_author': A_author[:1000], 'T_Quotes': T_Quotes[:1000]})

In [85]:
df

,Q_quote,A_author,T_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"